header{
    text-align: center;
    width: 1320px; 
    height: 600px;
    background-image:url("images/Banner\ Image.png");
    align-items: center;
    margin: 50px 140px;
    font-family: Merriweather;
    border-radius: 16px;

}
.banner{
    color: white;
    justify-content: center;
    align-items: center;
}

.banner-title{
      font-size: 32px;
      font-weight: 400px;
      padding-top: 200px;
      gap: 0px;
}

.banner-description{
    font-size: 72px;
    font-weight: 900px;
    width: 632px;
    padding-left:310px;
    padding-bottom: 500px;
}
main{
    width: 1320px; 
    height: 600px;
    font-family: Inter;
}

.section-1{
    /* padding: 0px 609px; */
    text-align: center;
    padding-left: 90px;
}

.first-image{
    padding: 0px 390px;
    width: 800px;
    height: 500px;
}

.section1-title{
    color:#F00;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    height: 107px;
}
.section1-description{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.section-2{
    background-image: url('images/Vectorrr.png');
    align-items: center;
    background-repeat: no-repeat;
    margin: 50px 140px;
    width: 1320px; 
    height: 600px;
}

.section-2-title{
    color:white;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top:126px;
    padding-left: 126px;
    padding-bottom: 0px;
}
.section-2-description{
    padding-top:24px;
    padding-left: 129px;
    padding-right: 497px;
    padding-bottom:0px;
    color: rgba(255, 255, 255, 0.80);
    width: 690px;
    height:60px;
    font-size: 18px;
    font-weight: 400;
}

.section-3{
    background:peachpuff;
    width: 1320px;
    height: 100px;
    margin: 50px 140px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 214px;
}

.btn1{
    display: block;
    text-align: center;
    margin-left: 129px;
    font-family:Inter;
    font-size:20px;
    font-weight: 700;
    font-style: normal;
}
.btn1:hover{
    color:red;
    background: green;
}

.btn-2{
    background: red;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border:0;
    color:whitesmoke;
    padding:20px 30px;
}

.section-4{
    width: 1320px; 
    height: 600px;
    margin: 100px 140px;
    display: flex;
    justify-content: space-around;
}

.div-1-title{
    color:#F00;
    font-family: Inter;
    font-size:24px;
    font-weight: 500;
}

.div-1-title-1{
    color: #070211;
    font-family: Merriweather;
    font-weight: 900;
}

.div-1-description{
    color: rgba(7, 2, 17, 0.60); 
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width:300px;
}

.div-1-image{
    width: 365px;
    height: 365px;
    border-radius:solid red 15px;
    border-radius:460px;
    border: 15px solid red;
    padding:20px;
}

.div-2-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px; 
    font-weight: 700;
}

.div-2-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 276px;
    height: 96px;
}
.section-5{
    margin: 100px 140px;
    text-align: center;
    width:1320px;
    height: 600px;
}
.section-5-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.span-5{
    color: #F00;
}

.section-5-title1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.section-5-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    width:1070px;
    height: 100px;
}

.div-5-image-1{
    width: 600px;
    height:500px;
}

.div-6-image-1{
    width:207px;
    height:207px;
    box-shadow:2px 1px 1px lightblue;
    margin-left:100px;
    margin-top:100px;
}

.div-7-image-1{
    width: 400px;
    height: 500x;
    margin-right: -100px;
}

.div-main{
    display: flex;
}
.div-8-image-1{
    width:1320px;
    height:100px;
    margin-top:-200px;
}

.section-6{
    margin-top: 500px;
    margin-left:140px;
}

.section-6-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.section-6-title-1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.section-6-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width:800px;
}
.section-6-imgage{
    width:300px;
    height: 300px;
    margin-right: 50px;
    padding-right: 10px;
    margin-top:0;
    margin-bottom: 20px;
}
.section-6-imgage:hover{
    background-color: red;
    color:gray;
}

.section-7-div{
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    justify-content: center;
    margin-top:200px;
    margin-left:140px;
    width:1320px;
    height:600px;
    padding-top : 100px;
}
.section-7-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.section-7-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width:800px;
    height:64px;
    padding-left:250px;
}

#email{
    width:600px;
    background-color: white;
    border-radius: 50px;
    padding:30px;
    border: 0px;
}

.section-7-button{
    width: 210px;
    height: 72px;
    border: 0px;
    border-radius: 0px 50px 50px 0px;
    margin-left:-30px;
    background: #F00;
}

.section-7-button:hover{
    background: aqua;
}