header{
    text-align: center;
    width: 1320px; 
    height: 600px;
    background-image:url("images/Banner\ Image.png");
    align-items: center;
    margin: 50px 140px;
    font-family: Merriweather;
    border-radius: 16px;

}
.banner{
    color: white;
    justify-content: center;
    align-items: center;
}

.banner-title{
      font-size: 32px;
      font-weight: 400px;
      padding-top: 200px;
      gap: 0px;
}

.banner-description{
    font-size: 72px;
    font-weight: 900px;
    width: 632px;
    padding-left:310px;
    padding-bottom: 500px;
}